.project-info {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px 0;
}

.technologies {
  display: flex;
  align-items: center;
}

.technology-imgs {
  display: flex;
  align-items: center;
  gap: 5px;
}

.technology-imgs img {
  height: 25px;
  vertical-align: middle;
}

.project-item h2 {
  font-size: 2rem;
  padding: 0 25px;
}

.project-item p {
  padding: 0 10px 0 25px;
}

.project-img {
  border-radius: 12px;
  width: 100%;
  vertical-align: middle;
}

.img-container {
  border-radius: 12px;
  position: relative;
  user-select: none;
}

.img-container::after {
  border-radius: 12px;
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.78));
}

.project-links {
  display: flex;
  gap: 25px;
  margin: 5px 25px;
}

.project-links a {
  font-weight: bold;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 12px;
  padding: 5px 10px;
  text-decoration: none;
}

