.project-item {
  background-color: #282828;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  gap: 1rem;
}

.img-container {
  flex: 1;
}

.project-img-web {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  vertical-align: middle;
}

.project-img-mobile {
  object-fit: contain;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  vertical-align: middle;
}

.details-container {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.project-description {
  font-style: italic;
}

.technology-imgs {
  display: flex;
  gap: 10px;
}

.technology-imgs img {
  object-fit: contain;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.project-links {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.project-links a {
  user-select: none;
  cursor: pointer;
  /* border: 1px solid white; */
  background-color: #3c3836;
  color: #458588;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
