#home-main {
  display: grid;
  gap: 75px;
}

#profile-card {
  display: flex;
  margin: 90px auto 0 auto;
  width: 1100px;
}

#profile-card img {
  width: 33%;
  display: block;
  border-radius: 22%;
  user-select: none;
}

#profile-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px 50px;
}

#profile-text h1 {
  font-size: 3rem;
  color: #98971a;
}

#profile-text h2 {
  font-size: 25px;
  color: #d79921;
}

/* skills card */
#skills-card {
  margin: 0 auto;
  width: 1100px;
  height: fit-content;
}

#skills-card h1 {
  font-size: 2.5rem;
  padding: 15px 50px;
  color: #D65D0E;
}

#skills-list {
  display: flex;
  flex-wrap: wrap;
  list-style-position: inside;
}

#skills-list li {
  display: flex;
  border: 1px solid #EBDBB2;
  border-radius: 12px;
  font-size: 1.5rem;
  margin: 10px;
  padding: 10px 20px;
  list-style-type: none;
  width: fit-content;
}

.skill-img {
  display: block;
  height: 1.5rem;
  align-self: center;
}

#skills-list li p {
  margin-left: 10px;
  color: #83a598;
}