header {
  display: flex;
  justify-content: center;
  background-color: #3C3836;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 1400px;
  padding-inline: 32px;
}

a {
  text-decoration: none;
}

#nav-logo {
  font-size: 20px;
}

#nav-links {
  display: flex;
  gap: 30px;
  font-size: 20px;
  list-style-type: none;
}

#nav-socials {
  width: fit-content;
  display: flex;
  gap: 15px;
}

.nav-social-link {
  padding: 0;
}

.nav-social-link img {
  vertical-align: middle;
  width: 25px;
}