* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: #282828;
  overflow-x: hidden;
}

h1, h2, p, a {
  color: #EBDBB2;
}

@media (max-width: 1250px) {
  #profile-card, #skills-card, #projects-main {
    width: 88%;
  }
}


@media (max-width: 950px) {
  #profile-card {
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
  }

  #profile-card img {
    width: 250px;
    margin: 0 auto;
  }

  #skills-card {
    width: 100%;
  }

  .skill-img {
    height: 1rem;
  }

  #skills-list li p {
    font-size: 1rem;
  }

  .img-container::after {
    opacity: 100%;
  }

  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}