* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: #282828;
  overflow-x: hidden;
}

h1, h2, p, a {
  color: #EBDBB2;
}

@media (max-width: 1250px) {
  #profile-card, #skills-card {
    width: 88% !important;
  }
}

@media (max-width: 775px) {
  .project-item {
    text-align: center;
    flex-direction: column;
  }

  .technology-imgs {
    align-self: center;
  }

  .project-img {
    width: 100%;
  }

  .project-links {
    padding-inline: 15px;
    gap: 0;
    justify-content: space-between;
  }
}


@media (max-width: 950px) {
  #hamburger {
    display: block;
  }

  #hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  #hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #nav-links {
    position: fixed;
    left: -100%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #3C3836;
    transition: 0.3s;
  }

  #nav-links li {
    display: block;
    margin: 15px auto;
  }

  #nav-links.active {
    left: 0;
  }

  #profile-card {
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
  }

  #profile-card img {
    width: 250px;
    margin: 0 auto;
  }

  #resume-btn {
    margin-top: 15px;
  }

  #skills-card {
    width: 100%;
  }

  .skill-img {
    height: 1rem;
  }

  #skills-list li p {
    font-size: 1rem;
  }
}