* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #282828;
}

h1, h2, p, a {
  color: #EBDBB2;
}

@media (max-width: 1250px) {
  #profile-card {
    width: 88%;
  }
}


@media (max-width: 950px) {
  #profile-card {
    flex-direction: column;
    width: 100%;
  }

  #profile-card img {
    width: 250px;
    margin: 0 auto;
  }
}